@using QuestorSistemasSite.Models
@{
    ViewData["Title"] = "Home";

    var Anuncios = ViewBag.Anuncio as List<Anuncio>;
    var Marcas = ViewBag.Marcas as List<Marca>;
    var Modelos = ViewBag.Modelos as List<Modelo>;
}

<div id="slider" class="box-section triggerAnimation animated" data-animate="rollIn">
    <div class="flexslider">
        <ul class="slides">
            @if (Anuncios != null && Anuncios.Count > 0)
            {
                foreach (var item in Anuncios)
                {
                    <li style="width: 800px;height: 400px;">
                        <img alt="" src="/Conteudo/Anuncios/@item.Imagem"  />
                        <p class="flex-caption">@Html.Raw(item.Modelo)</p>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<div class="box-section float-image-section triggerAnimation animated" data-animate="rollIn">
    <p style="text-align: center;">Marcas</p>
    <div class="row">
        @if (Marcas != null && Marcas.Count > 0)
        {
            foreach (var item in Marcas)
            {
                <div class="col-md-5">
                    <div class="image-box">
                        <img alt="" src="/Conteudo/Marcas/@item.Imagem">
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="row triggerAnimation animated" data-animate="bounceInLeft">   
    <div class="col-md-6">
        <div class="box-section skills-section">
            <h2>Contagem dos dados</h2>
            <div class="skills-progress">
                <p>Anuncios <span>@Anuncios.Count%</span></p>
                <div class="meter nostrips wp">
                    <span style="width: @Anuncios.Count%"></span>
                </div>
                <p>Marcas <span>@Marcas.Count%</span></p>
                <div class="meter nostrips css">
                    <span style="width: @Marcas.Count%"></span>
                </div>
                <p>Modelos <span> @Modelos.Count%</span></p>
                <div class="meter nostrips html">
                    <span style="width: @Modelos.Count%"></span>
                </div>
            </div>
        </div>
    </div>
</div>