@using QuestorSistemasAdmin.Models
@model Anuncio
@{
    ViewData["Title"] = "Editar";
}

<link rel="stylesheet" href="/chosen/docsupport/prism.css">
<link rel="stylesheet" href="/chosen/chosen.css">

<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Editar @Model.Slug
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                        <a class="fa fa-times" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form">
                        @using (Html.BeginForm("Editar", "Anuncio", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.DataVenda)
                            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.Marca)
                                    <select data-placeholder="Selecionar..." name="Marca" id="Marca" class="form-control chosen-select" onchange="modelos()">
                                        <option value="">Selecionar...</option>
                                        @foreach (var item in ViewBag.Marca)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                    <br />

                                    <label id="lab">Modelos</label>
                                    <select name="Modelo" id="Modelo" class="form-control">
                                        <option value="">Selecionar...</option>
                                    </select>

                                    <br />
                                    @Html.LabelFor(model => model.Descricao)
                                    @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control ckeditor", Maxlength = "100", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.Descricao)
                                    <br />
                                    @Html.LabelFor(model => model.ValorCompra)
                                    @Html.TextBoxFor(model => model.ValorCompra, new { @class = "form-control", Maxlength = "300" })
                                    @Html.ValidationMessageFor(model => model.ValorCompra)
                                    <br />
                                    @Html.LabelFor(model => model.ValorVenda)
                                    @Html.TextBoxFor(model => model.ValorVenda, new { @class = "form-control", Maxlength = "300" })
                                    @Html.ValidationMessageFor(model => model.ValorVenda)
                                    <br />
                                    @Html.LabelFor(model => model.FinalPlaca)
                                    @Html.TextBoxFor(model => model.FinalPlaca, new { @class = "form-control", Maxlength = "300" })
                                    @Html.ValidationMessageFor(model => model.FinalPlaca)
                                    <br />
                                    @Html.LabelFor(model => model.Cor)
                                    @Html.TextBoxFor(model => model.Cor, new { @class = "form-control", Maxlength = "300" })
                                    @Html.ValidationMessageFor(model => model.Cor)
                                    <br />
                                    @Html.LabelFor(model => model.Combustível)
                                    @Html.DropDownListFor(m => m.Combustível, (IEnumerable<SelectListItem>)ViewBag.TipoCombustivel, "Selecione...", new { @class = "form-control chosen-select" })
                                    @Html.ValidationMessageFor(model => model.Combustível)
                                    <br />
                                    @Html.LabelFor(model => model.Portas)
                                    @Html.DropDownListFor(m => m.Portas, (IEnumerable<SelectListItem>)ViewBag.Portas, "Selecione...", new { @class = "form-control chosen-select" })
                                    @Html.ValidationMessageFor(model => model.Portas)
                                    <br />
                                    <input type="hidden" name="Imagem" value="@Model.Imagem" />
                                    @Html.LabelFor(model => model.Imagem)
                                    <input type="file" name="Imagem" title="Imagem" id="Imagem" />
                                    @Html.ValidationMessageFor(model => model.Imagem)
                                    <br />
                                    @Html.LabelFor(model => model.Ativo)
                                    @Html.EditorFor(model => model.Ativo)
                                    @Html.ValidationMessageFor(model => model.Ativo)
                                    <br />
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="/chosen/docsupport/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/chosen/chosen.jquery.js" type="text/javascript"></script>
<script src="/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="/chosen/docsupport/init.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.wysihtml5').wysihtml5();

        $(".chosen-select").chosen();
    });
</script>

<script>
    function modelos() {

        var select = document.getElementById('Marca');
        var value = select.options[select.selectedIndex].value;
        $.ajax({
            url: '@Url.Action("SearchMarca", "Anuncio")',
            cache: false,
            async: true,
            type: "POST",
            data: { id: value },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $("#Modelo").empty();

                    data.forEach(function (item) {
                        $('#Modelo').append($('<option>', {
                            value: item.id,
                            text: item.nome
                        }));
                    });
                }
            }
        });
    }
</script>