<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - Administrativo</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="#" type="image/png">

    <link href="/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <link href="/css/clndr.css" rel="stylesheet">
    <link rel="stylesheet" href="/js/morris-chart/morris.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
</head>
<body class="sticky-header">
    <section>
        @Html.Partial("~/Views/Shared/partial/_NavBar.cshtml")
        <div class="main-content">

            @Html.Partial("~/Views/Shared/partial/_Header.cshtml")
            @Html.Partial("~/Views/Shared/partial/_BreadCrumb.cshtml")
            <div class="wrapper">
                
                    @RenderBody()
                
            </div>

            @Html.Partial("~/Views/Shared/partial/_Footer.cshtml")

        </div>
    </section>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/jquery.nicescroll.js"></script>
    <script src="/js/easypiechart/jquery.easypiechart.js"></script>
    <script src="/js/easypiechart/easypiechart-init.js"></script>
    <script src="/js/sparkline/jquery.sparkline.js"></script>
    <script src="/js/sparkline/sparkline-init.js"></script>
    <script src="/js/iCheck/jquery.icheck.js"></script>
    <script src="/js/icheck-init.js"></script>
    <script src="/js/flot-chart/jquery.flot.js"></script>
    <script src="/js/flot-chart/jquery.flot.tooltip.js"></script>
    <script src="/js/flot-chart/jquery.flot.resize.js"></script>
    <script src="/js/morris-chart/morris.js"></script>
    <script src="/js/morris-chart/raphael-min.js"></script>
    <script src="/js/calendar/clndr.js"></script>
    <script src="/js/calendar/evnt.calendar.init.js"></script>
    <script src="/js/calendar/moment-2.2.1.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/dashboard-chart-init.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
