<header class="sidebar-section">
    <div class="header-logo">
        <a class="logo" href="@Url.Action("Index","Home")"><img alt="" src="/images/metaLogo.png" style="width: 200px; height:80px;"></a>
    </div>
    <a class="elemadded responsive-link" href="#">Menu</a>
    <div class="navbar-vertical">
        <ul class="main-menu">
            <li><a href="@Url.Action("Index","Anuncio")"><i class="fa fa-user"></i>Anuncios</a></li>
            <li><a href="@Url.Action("Index","Marca")"><i class="fa fa-user"></i>Marca</a></li>
            <li><a href="@Url.Action("Index","Modelo")"><i class="fa fa-user"></i>Modelo</a></li>
            <li><a href="@Url.Action("Index","Contato")"><i class="fa fa-envelope"></i>Fale Conosco</a></li>
        </ul>
    </div>
</header>